<div class="content">
  <!-- <div id="js-preloader" class="js-preloader">
			<div class="preloader-inner">
				<span class="dot"></span>
				<div class="dots">
					<span></span>
					<span></span>
               <span></span>
            </div>
		</div>
	</div> -->
  <!-- <div class="background-circles"></div> -->
  <header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/home" class="logo">
            <img src="images/TR-logo.png" alt="" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li>
              <a href="/home" class="active"
                >Home <img src="images/home.png" alt=""
              /></a>
            </li>
            <li>
              <a href="/profile"
                >Profile <img src="images/profile-header.jpg" alt=""
              /></a>
            </li>
            <li>
              <a href="/friend"
                >Friends <img src="images/friends-icon.png" alt=""
              /></a>
            </li>
            <li>
              <a href="Message.html"
                >Messages <img src="images/message.png" alt=""
              /></a>
            </li>
            <li>
              <a href="/edit"
                >Settings <img src="images/settings.png" alt=""
              /></a>
            </li>
            <li>
              <a href="/" id="logoutLink">
                Log out <img src="images/logout.png" alt="logout" />
              </a>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
  <!-- ***** Header Area End ***** -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile">
                <div class="row">
                  <div class="col-lg-4">
                    <img
                      src="https://avatars.githubusercontent.com/u/70679159?s=400&u=03e8329933a15d2b401d926b4a2ac093d5d204bc&v=4"
                      alt=""
                      style="border-radius: 23px"
                    />
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <span>Online</span>
                      <h4>Adnane Saber</h4>
                      <p>we can write somthing about this player!!</p>
                      <div class="main-border-button">
                        <a href="/edit">Edit Profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Games Played <span>290</span></li>
                      <li>Winned <span>36</span></li>
                      <li>Losed <span>13</span></li>
                      <li>Rate <span>87%</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="clips">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="heading-section">
                            <h4><em>Your Friends</em> List</h4>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img
                                src="https://avatars.githubusercontent.com/u/133446160?v=4"
                                alt=""
                                style="border-radius: 23px"
                              />
                            </div>
                            <div class="down-content">
                              <h4>Yassine</h4>
                              <span><i class="fa fa-eye"></i> 250</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img
                                src="https://avatars.githubusercontent.com/u/81581676?v=4"
                                alt=""
                                style="border-radius: 23px"
                              />
                              <!-- <a href="#" target="_blank"><i class="fa fa-play"></i></a> -->
                            </div>
                            <div class="down-content">
                              <h4>Badr</h4>
                              <span><i class="fa fa-eye"></i> 183</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img
                                src="https://avatars.githubusercontent.com/u/108817477?v=4"
                                alt=""
                                style="border-radius: 23px"
                              />
                              <!-- <a href="" target="_blank"><i class="fa fa-play"></i></a> -->
                            </div>
                            <div class="down-content">
                              <h4>Nasro</h4>
                              <span><i class="fa fa-eye"></i> 141</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <div class="item">
                            <div class="thumb">
                              <img
                                src="https://avatars.githubusercontent.com/u/130107186?v=4"
                                alt=""
                                style="border-radius: 23px"
                              />
                              <!-- <a href="#" target="_blank"><i class="fa fa-play"></i></a> -->
                            </div>
                            <div class="down-content">
                              <h4>Nasro</h4>
                              <span><i class="fa fa-eye"></i> 91</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->
        </div>
      </div>
    </div>
  </div>
</div>
